.rolagem::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.rolagem::-webkit-scrollbar-track {
    background: #cecece;
    border-radius: 20px;
}

.rolagem::-webkit-scrollbar-thumb {
    background-color: #8b8b88;
    border-radius: 20px;

}